# ignore all files in any directory named venv
venv/

# ignore all files in any directory named dataset, data
datset/
data/

# ignore .DS_Store
.DS_Store

# ignore all files in any directory named .idea
.idea/

# ignore all files in any directory named catboost
*catboost*/